<div class="input-group mb-2" style="margin-bottom: 0px;">
    <div class="input-group-prepend d-flex justify-content-between">
        <treung-numer #obj_combonum (datachange)="cambiodata();" [style]="this.style" [attr.formato]="this.formato"
            [attr.size]="this.size" [attr.value]="this.value" [attr.disabled]="this.disabled"
            [attr.valor_positivo]="this.valor_positivo">
        </treung-numer>
        <div class="input-group-text" (click)="ondropdown();" [style]="this.cursor">...</div>
    </div>
</div>